$primary-color: #29367A;
$secondary-color: #AECA48;
$success-color: #43AC6A;
$warning-color: #f08a24;
$alert-color: #f04124;
$info-color: #a0d3e8;

$logo-blue: $primary-color;
$logo-green: $secondary-color;

$foundation-palette: (
	primary: $primary-color,
	secondary: $secondary-color,
	success: $success-color,
	warning: $warning-color,
	alert: $alert-color,
	info: $info-color,
  job: #a2bf2f,
);

// Make palette variable names available
// This will not work for any custom color names
@include add-foundation-colors;

// These global settings are dependent of what was previously defined. This will override them to what we want
$button-palette: $foundation-palette;
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 1rem,
  large: 1.25rem,
);

$body-background: white;

$header-color: $primary-color;

$header-styles: (
  small: (
    'h1': ('font-size': 32),
    'h2': ('font-size': 28),
    'h3': ('font-size': 24),
    'h4': ('font-size': 20),
    'h5': ('font-size': 18),
    'h6': ('font-size': 18),
  ),
  medium: (
    'h1': ('font-size': 48),
    'h2': ('font-size': 36),
    'h3': ('font-size': 30),
    'h4': ('font-size': 24),
    'h5': ('font-size': 20),
    'h6': ('font-size': 18),
  ),
);

$dropdown-menu-item-background-active: lighten($primary-color, 5%);

$offcanvas-background: $primary-color;

$titlebar-background: transparent;
$titlebar-icon-color: $primary-color;

$topbar-background: transparent;
$topbar-submenu-background: $dark-nav-color;