#overlay-form {

    .reveal-header .grid-x {

        display: flex;
        align-items: center;

    }

    .gform_description {
        display: inline-block;
        margin-bottom: $paragraph-margin-bottom;
    }

    .testimonial {

        @include breakpoint( medium ) {
            .cell {
                padding: 0;
            }
        }

    }

}