// Fix the issue where the WP admin-bar overlaps the mobile menu
#wpadminbar {
  position: fixed !important;
}

// Make sure that the WP admin-bar does not overlap Foundation components
body.admin-bar {

  // Offset sticky top bar
  .sticky.is-stuck {

    margin-top: rem-calc( 46 ) !important;

    @include breakpoint( 783 ) {
      margin-top: rem-calc( 32 ) !important;
    }

  }

  // Offset mobile off-canvas menu
  &.offcanvas {

    .off-canvas {

      top: rem-calc(46);

      @include breakpoint(783) {
        top: rem-calc(32);
      }

    }

  }

}