/*
Styles shared among all templates.

@since 0.1.0
*/

@import "../settings";

.page-content {
  padding-top: $gutter;
  padding-bottom: $gutter;
}

.page-title, .post-title {
  a {
    display: block;
  }
}