/*
Styles shared among all templates.

@since 0.1.0
*/

@import "../settings";
@import "../static/header-vars";

// Expand Row
.row {
  &.blue {
    background: lighten($primary-color, 5%);
    color: #fff;
  }

  &.green {
    background: lighten($secondary-color, 10%);
    color: #fff;
  }
}

.page-content {
  padding-top: $header-logo-size - $header-interval + $gutter;
  padding-bottom: $gutter;
  word-wrap: break-word;
  overflow: hidden;

  &.top-flush {
    padding-top: 0;
  }

  &.bottom-flush {
    padding-bottom: 0;
  }

  @media #{$small-only} {
    padding-top: $header-logo-size-mobile - $header-interval + $gutter;
  }

  ul {
    margin-left: $gutter * 2;
  }
}

.page-title, .post-title {
  a {
    display: block;
  }
}

.screen-reader-text {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.pagination {
  text-align: center;
}

.alignleft {
  float: left;
  margin-right: 10px;
}

.alignright {
  float: right;
  margin-right: 10px;
}

.aligncenter {
  margin: 0 auto;
}

// Captions
.wp-caption {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $primary-color;
    opacity: 0;
    z-index: 1;
    transition: opacity 300ms;
  }

  &:hover {
    .wp-caption-text {
      opacity: 1;
      visibility: visible;
    }

    &:before {
      opacity: 0.7;
    }
  }

  a {
    @extend .no-effect;
    display: block;
  }

  img {
    width: 100%;
  }

  .wp-caption-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin: 0;
    line-height: 1.5;
    font-size: 0.8em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
    z-index: 5;
  }
}

// Fixes
.gform_footer {
  br {
    display: none;
  }

  p {
    display: none;
  }
}

label {
  color: inherit;
}

.render-columns-wrapper {
  @include clearfix;
}