/*
Styles front-page.php (the home page).

@since 0.1.0
*/
@import "../settings";

body.home #wrapper {

  // Home cta
  .home-cta {
    //noinspection CssUnknownTarget
//    background: url("assets/images/home-cta.jpg");
    background: url("http://download.fotolia.com/Content/CompImage500/FotoliaComp_72981376_avGQ8G0ZBg3IPagcwHyqj40e25dFW7Tw") no-repeat center center;
    background-size: cover;
    position: relative;

    .home-cta-cover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(90deg, #000 50%, transparent 50%, transparent) repeat-x;
      background-size: 3px 100%;
      opacity: 0.2;
    }

    .home-cta-message {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;

      h1 {
        color: #fff;
        text-shadow: 1px 1px 0 #000;
      }

      .button {
        margin-top: 30px;
      }
    }
  }

  // Services
  .section.active.services {
    .services-list {
      .service-item {
        top: 0;
        opacity: 1;

        // Animation delay
        // All three columns with 500ms delay between animations
        @for $i from 0 through 2 {
          &[data-index="#{$i}"] {
            transition-delay: #{$i * 500}ms;
          }
        }
      }
    }

    .service-icons {
      .service-icon {
        opacity: 0.3;

        &.dark {
          opacity: 1;
        }

        // Animation delay
        // 40 icons in 3 columns, 25ms delay between animations, initial delay of 500ms (1st column delay)
        @for $i from 0 through 120 {
          &[data-index="#{$i}"] {
            transition-delay: #{($i * 25) + 500}ms;
          }
        }
      }
    }
  }

  .services {

    h2 {
      @extend h3;
    }

    .services-list {
      margin-top: $section-gutter / 2;

      .service-item {
        position: relative;
        top: -50px;
        opacity: 0;
        transition: opacity 500ms, top 500ms;
      }
    }

    .service-icons {
      text-align: left;

      ul {
        margin: 0;
      }

      .service-icon {
        font-size: 30px;
        opacity: 0;
        transition: opacity 500ms;
        padding: 10px 0;

        @media #{$small-only} {
          font-size: 18px;
        }

        @media #{$medium-only} {
          font-size: 24px;
        }

        &.visible {
        }
      }
    }
  }

  // Portfolio
  .section.active {
    .portfolio-preview {
      opacity: 1;
    }
  }

  .portfolio {
    .section-content {
      padding-left: 0;
      padding-right: 0;
    }

    .portfolios {
      position: relative;

      .portfolios-left, .portfolios-right {
        position: absolute;
        top: 50%;
        font-size: 40px;
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 300ms;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 10;

        &:hover {
          opacity: 1;
        }
      }

      .portfolios-left {
        left: 10px;
      }

      .portfolios-right {
        right: 10px;
      }
    }
  }

  .portfolio-list {
    list-style: none;
    margin: 0;
    position: relative;

    .portfolio-item {
      opacity: 0;
      position: absolute;
      width: 100%;
      top: 0;

      &.right {
        left: 100%;
        animation: portfolio-out-right 500ms;

        &.active {
          left: 0;
          animation: portfolio-in-right 500ms;
        }
      }

      &.left {
        right: 100%;
        animation: portfolio-out-left 500ms;

        &.active {
          right: 0;
          animation: portfolio-in-left 500ms;
        }
      }

      &.active {
        opacity: 1;
      }

      &.no-js {
        position: relative;
        top: auto;
        left: auto;
      }
    }

    .portfolio-title {
      color: inherit;
    }

    .portfolio-preview {
      @include clearfix;
      text-align: center;
      opacity: 0;
      transition: opacity $section-transition;
    }
  }

  // Testimonials
  .testimonials {
    .section-content {
      padding-left: 0;
      padding-right: 0;
    }

    .testimonial-content {
      display: inline-block;
      margin: 0 auto;
      height: 100px;
      line-height: 100px;

      p {
        position: relative;;
        font-size: 1.3em;
        visibility: hidden;
        opacity: 0;
        left: -50px;
        transition: visibility 300ms, left 300ms, opacity 300ms, transform 300ms;
        height: 0;
        margin: 0;
        transform: perspective(100px) rotateY(5deg);

        @media #{$small-only} {
          font-size: 1em;
        }

        &.active {
          left: 0;
          visibility: visible;
          opacity: 1;
          transform: perspective(100px) rotateY(0deg);
        }
      }

      .testimonial-quote-icon {
        margin-right: 10px;
        font-size: 2em;
      }
    }
  }

  .testimonials-list {
    list-style: none;
    margin: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

    .testimonial-item {
      padding: 0;
      position: relative;
      overflow: hidden;

      &.active {
        .testimonial-image:after {
          opacity: 0;
        }
      }

      .testimonial-image {
        display: block;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: #000;
          opacity: 0.5;
          transition: opacity 300ms;
          z-index: 10;
        }

        img {
          width: 100%;
          height: 100%;
          transition: transform 300ms;
        }

        &:hover {
          &:after {
            opacity: 0;
          }

          img {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@keyframes scroll-bounce {
  0% {
    bottom: 0;
    transform: rotate(0deg);
  }
  10% {
    bottom: 10px;
  }
  20% {
    bottom: 0;
  }
  30% {
    bottom: 10px;
  }
  40% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  60% {
    bottom: 0;
  }
  70% {
    bottom: 10px;
  }
  80% {
    bottom: 0;
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(-90deg);
  }
  90% {
    bottom: 10px;
  }
  100% {
    transform: rotate(1080deg);
  }
}

@keyframes portfolio-in-right {
  0% {
    left: 100%;
    opacity: 0;
    transform: perspective(100px) rotateY(-5deg);
  }
  100% {
    left: 0;
    opacity: 1;
    transform: perspective(100px) rotateY(0deg);
  }
}

@keyframes portfolio-out-right {
  0% {
    left: 0;
    opacity: 1;
    transform: perspective(100px) rotateY(0deg);
  }
  100% {
    left: -100%;
    opacity: 0;
    transform: perspective(100px) rotateY(5deg);
  }
}

@keyframes portfolio-in-left {
  0% {
    right: 100%;
    opacity: 0;
    transform: perspective(100px) rotateY(5deg);
  }
  100% {
    right: 0;
    opacity: 1;
    transform: perspective(100px) rotateY(0deg);
  }
}

@keyframes portfolio-out-left {
  0% {
    right: 0;
    opacity: 1;
    transform: perspective(100px) rotateY(0deg);
  }
  100% {
    right: -100%;
    opacity: 0;
    transform: perspective(100px) rotateY(-5deg);
  }
}

@keyframes service-icon-in {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

@keyframes service-icon-in-dark {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}