/*
Styles front-page.php (the home page).

@since 0.1.0
*/
@import "../settings";

$section-gutter: 100px;
$section-transition: 1.5s;

body.home {

  // Home cta
  .home-cta {
    //noinspection CssUnknownTarget
    background: url("assets/images/home-cta.jpg");
    background-size: cover;
    position: relative;

    .home-cta-cover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(90deg, #000 50%, transparent 50%, transparent) repeat-x;
      background-size: 3px 100%;
      opacity: 0.2;
    }

    .home-cta-message {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;

      h1 {
        color: #fff;
        text-shadow: 1px 1px 0 #000;
      }

      .button {
        margin-top: 30px;
      }
    }
  }

  // Scroll down nag
  .scroll-down {
    @extend .no-effect;
    position: absolute;
    display: block;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;

    &:hover {
      color: $secondary-color;
    }

    [class*="icon-"] {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -15px;
      animation: scroll-bounce 7s infinite;
    }
  }

  // Sections
  .section {
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 0;
    transition: background $section-transition;
    background: #222;
    color: #fff;
    text-shadow: 1px 1px 0 #222;

    &.active {

      &.blue {
        background: darken($primary-color, 16%);
      }

      &.green {
        background: darken($secondary-color, 22%);
      }

      .background-container {
        .line {
          width: 100%;
        }
      }
    }

    .section-content {
      position: relative;
      padding-top: $section-gutter;
      padding-bottom: $section-gutter;
      z-index: 5;
    }

    .section-title {
      background: $dark-color;
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      font-size: 1.3em;
      height: 10px;

      [class*="icon-"] {
        margin-right: 10px;
      }

      .text {
        position: relative;
        top: 1px;
        background: $dark-color;
        height: 1.5em;
        line-height: 1.5em;
        padding: 0 20px;
      }
    }

    .section-summary {
      @extend h2;
      margin-top: $section-gutter / 2;
      margin-bottom: $section-gutter / 2;
      font-family: $font-family-special;
      color: inherit;
      transition: color $section-transition;
    }

    .button {
      margin-top: $section-gutter / 2;
      margin-bottom: $section-gutter / 2;
    }

    &.blue {
      .background-container {
        .line {
          background: darken($primary-color, 15%);
        }
      }
    }

    &.green {
      .background-container {
        .line {
          background: darken($secondary-color, 20%);
        }
      }

      .button {
        @extend .secondary;
      }
    }

    .background-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      .line {
        background: $primary-color;
        width: 0;
        transition: width $section-transition * 1.5;

        &.left {
          float: left;
        }

        &.right {
          float: right;
        }
      }
    }
  }
}

@keyframes scroll-bounce {
  0% {
    bottom: 0;
    transform: rotate(0deg);
  }
  10% {
    bottom: 10px;
  }
  20% {
    bottom: 0;
  }
  30% {
    bottom: 10px;
  }
  40% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  60% {
    bottom: 0;
  }
  70% {
    bottom: 10px;
  }
  80% {
    bottom: 0;
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(-90deg);
  }
  90% {
    bottom: 10px;
  }
  100% {
    transform: rotate(1080deg);
  }
}