/*
Sectionalized page template.

@since 0.1.0
*/

@import "../settings";
@import "../static/header-vars";

body.page.page-template-chamber {

  .section-go-up {
    position: fixed;
    top: $header-height + ($gutter * 2);
    right: $gutter;
    animation: section-go-up 2s infinite;
    z-index: 100;
    visibility: visible;
    opacity: 1;
    transition: visibility 500ms, opacity 500ms;

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  .section.active.chamber {
    .chamber-list {
      .chamber-item {
        top: 0;
        opacity: 1;
        margin-bottom: $gutter;

        // Animation delay
        // All four columns with 500ms delay between animations
        @for $i from 0 through 3 {
          &[data-index="#{$i}"] {
            transition-delay: #{$i * 500}ms;
          }
        }
      }
    }

    .chamber-icons {
      .chamber-icon {
        opacity: 0.3;

        &.dark {
          opacity: 1;
        }

        // Animation delay
        // 24 icons in 4 columns, 25ms delay between animations, initial delay of 500ms (1st column delay)
        @for $i from 0 through 96 {
          &[data-index="#{$i}"] {
            transition-delay: #{($i * 25) + 500}ms;
          }
        }
      }
    }
  }

  .chamber {

    h2 {
      @extend h4;
    }

    .chamber-list {
      margin-top: $section-gutter / 2;

      .chamber-item {
        position: relative;
        top: -50px;
        opacity: 0;
        transition: opacity 500ms, top 500ms;
      }
    }

    .chamber-icons {
      text-align: center;
      padding: 10px 20%;

      ul {
        margin: 0;
      }

      .chamber-icon {
        font-size: 30px;
        opacity: 0;
        transition: opacity 500ms;
        padding: 10px 0;

        @media #{$small-only} {
          font-size: 18px;
        }

        @media #{$medium-only} {
          font-size: 24px;
        }

        &.visible {
        }
      }
    }
  }
}

@keyframes section-go-up {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 10px;
  }

  100% {
    margin-top: 0;
  }
}