/*
Base element settings (no classes or id's).

@since 0.1.0
*/

@import "settings";
@import "../vendor/sass/foundation/components/type";

// Anchors
#wrapper a {
  position: relative;

  &:not(.no-effect):not(.button) {
    &:before, &:after {
      content: '';
      position: absolute;
      border-top: 2px solid;
      height: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 300ms, top 300ms, bottom 300ms;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &:hover {
      &:before {
        top: -5px;
        opacity: 1;
      }

      &:after {
        bottom: -5px;
        opacity: 1;
      }
    }

    &.force-color {
      &:before, &:after {
        color: inherit;
      }
    }
  }

  &.force-color {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

// Headings
h1, h2, h3, h4, h5, h6 {
  letter-spacing: $header-letter-spacing;
  color: inherit;
}

$font-reduction: 0.7;

@media #{$small-only} {
  h1 {
    font-size: $h1-font-size * $font-reduction;
  }
  h2 {
    font-size: $h2-font-size * $font-reduction;
  }
  h3 {
    font-size: $h3-font-size * $font-reduction;
  }
  h4 {
    font-size: $h4-font-size * $font-reduction;
  }
  h5 {
    font-size: $h5-font-size * $font-reduction;
  }
  h6 {
    font-size: $h6-font-size * $font-reduction;
  }
}

// Classes
.row.expand {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.font-special {
  font-family: $font-family-special;
}

.color-primary {
  color: $primary-color;
}

.color-secondary {
  color: $secondary-color;
}

// Buttons
button, .button {
  color: #fff !important;
  border-radius: 1000px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #000;
  position: relative;
  overflow: hidden;

  @media #{$small-only} {
    font-size: $button-font-med * 0.8;
  }

  // Chrome overflow hidden issue
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

  &.dark {
    color: $dark-color !important;
    text-shadow: 1px 1px 0 #fff;
  }

  &:hover {
    color: $secondary-color !important;
  }
  &:active {
    color: darken($secondary-color, 10%) !important;
  }

  // Secondary style
  &.secondary {
    border-color: #fff;

    &:hover {
      color: $primary-color !important;
    }
    &:active {
      color: darken($primary-color, 10%) !important;
    }
  }

  &.effect {
    transition: border-color 300ms;
    background: transparent !important;

    &.dark {
      .button-text {
        color: $dark-color;
      }
    }

    .button-text {
      position: relative;
      color: #fff;
      z-index: 1;
    }

    &:hover {
      color: $button-font-color;
      border-color: $secondary-color;

      &:before {
        right: 0;
      }
    }


    &:active {
      color: $button-font-color !important;
      border-color: darken($secondary-color, 10%);
      transition: none;

      &:before {
        background: darken($secondary-color, 10%);
      }
    }

    // Hover effect
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      left: 0;
      background: $secondary-color;
      transition: right 300ms;
      z-index: 0;
    }

    // Secondary style
    &.secondary {
      &:hover {
        border-color: $primary-color;
      }

      &:active {
        border-color: darken($primary-color, 10%);

        &:before {
          background: darken($primary-color, 10%);
        }
      }

      &:before {
        background: $primary-color;
      }
    }
  }
}

// Selection
::selection {
  background: $primary-color;
  color: #fff;
}
::-moz-selection {
  background: $primary-color;
  color: #fff;
}