// Text colors
.has-primary-color {
    color: $primary-color;
}

.has-secondary-color {
    color: $secondary-color;
}

// Background colors
.has-primary-background-color {
    background-color: $primary-color;
}

.has-secondary-background-color {
    background-color: $secondary-color;
}