.home {

  // Transparent to overlay on top of Hero
  .sticky-top-bar {
    background: transparent;
  }
	
  .is-stuck.sticky-top-bar {
    @include background-opacity( #fff, 0.8 );
  }

  .site-header {

    position: absolute;
    width: 100%;
    z-index: 999;

    .top-bar, .title-bar {
      position: relative;
    }

    .top-bar {

      .menu li:not(.current-menu-item) a {
        
        color: $body-font-color;
        
        &:hover {
          color: #e6e6e6; // Default color
        }
        
      }

    }

  }

  .front-hero {

    position: relative;

    margin: 0 0 rem-calc(32);
    height: auto;
    padding: rem-calc(175%) 0 rem-calc(25%) 0;

    @include breakpoint(medium) {
      padding: rem-calc(400%) 0;
      height: rem-calc(685);
      margin: 0 0 rem-calc(72);  
    }

    .marketing {

      @include xy-grid;

      & > * {
        position: relative;
      }

    }

    .image {
      position: absolute;

      .color-overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba( 240, 240, 240, 0.86 );
      }

      @include breakpoint(small) {
        background: url('../images/front-page/hero.png') bottom center;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }

      @include breakpoint(medium) {
        background: url('../images/front-page/hero.png') bottom center;
        background-size: cover;
        background-position: center;
      }

    }

  }

}