.home {

  // Transparent to overlay on top of Hero
  .sticky-top-bar {
    background: transparent;
  }
	
  .is-stuck.sticky-top-bar {
    background-color: $white;

    .top-bar {

      .menu li:not(.current-menu-item) a {
        
        color: $primary-color;

        &:hover {
          color: $white;
        }
        
      }

    }

    .title-bar {

      .menu-icon::after {
       background-color: $primary-color;
       box-shadow: 0 7px 0 $primary-color, 0 14px 0 $primary-color;
      }

    }
  }

  .site-header {

    position: absolute;
    width: 100%;
    z-index: 999;

    .top-bar, .title-bar {
      position: relative;
    }

    .top-bar {

      .menu li:not(.current-menu-item) a {
        
        color: $white;
        
      }

    }

    .title-bar {

      .menu-icon::after {
       background-color: $white;
       box-shadow: 0 7px 0 $white, 0 14px 0 $white;
      }

    }

  }

  .wp-block-cover:first-of-type {
    padding-top: 10rem;

    h1 {
      font-weight: bold;
      font-size: 34px;

      @include breakpoint( medium ){
        font-size: 48px;
        font-weight: 600;
      }
    }

    p {
      font-size: 20px;

      @include breakpoint( medium ){
        font-size: 25px;
      }
    }
  }

}