.rbm-logo-svg {
	
	.green {
		fill: $logo-green;
	}
	
	.blue {
		fill: $logo-blue;
	}
	
}

.home {
	
	.rbm-logo-svg {
		
		.blue {
			fill: $white;
		}
		
	}

	.is-stuck.sticky-top-bar {
		.rbm-logo-svg {
		
			.blue {
				fill: $logo-blue;
			}
			
		}
	}
	
}