/*
Grid load effect.

@since 0.1.0
*/
@import "../settings";

.grid-load-effect {

  li {
    opacity: 1;
    transform: translateY(0);

    @for $i from 1 to 10 {
      &:not(.grid-load-effect-hide)[data-delay="#{$i}"] {
        transition-delay: #{$i * 50}ms !important;
      }
    }

    &:not(.grid-load-effect-hide) {
      transition: transform 500ms, opacity 500ms;
    }

    &.grid-load-effect-hide {
      opacity: 0;
      transform: translateY(100px);
    }
  }
}