/*
Block list overlay.

@since 0.1.0
*/
@import "../settings";

.overlay-grid {
  list-style: none;
  margin: 0 !important;

  .overlay-grid-item {
    padding: 0;
    position: relative;

    a {
      display: block;
      color: #fff;
    }

    &:hover {
      .overlay-grid-image {
        img {
          transform: scale(1.05);
        }
      }

      .overlay-grid-overlay {
        opacity: 1;
      }
    }

    .overlay-grid-image {
      overflow: hidden;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        transition: transform 300ms;
      }
    }

    .overlay-grid-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($primary-color, 0.7);
      opacity: 0;
      transition: opacity 300ms;

      .overlay-grid-meta {
        color: $white;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        padding: 10px;

        .overlay-grid-title {
          @extend h2;
        }
      }
    }
  }
}