/*
The search form.

@since 0.1.0
*/
@import "../settings";

.search-form {
  margin: 0;

  .columns {
    margin: 0;
  }

  .screen-reader-text {
    display: none;
  }

  .fields {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
  }

  .search-field-label {
    height: 50px;

    @media #{$medium-up} {
      margin-bottom: $gutter / 2;
    }
  }

  .search-field {
    margin: 0;
    line-height: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid;

    &:focus {
      background: transparent;
    }
  }

  .button {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;

    @media #{$medium-up} {
        // Same styling as @extend .expand
        // @extend .expand returns an error here as you can't reference classes outside of your media query
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: none;
    }
  }
}