/*
Sections.

@since 0.1.0
*/
@import "../settings";

$section-gutter: 50px;
$section-transition: 1.5s;

.section {
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 0;
  transition: background $section-transition;
  background: #222;
  color: #fff;
  text-shadow: 1px 1px 0 #222;

  &.active {

    &.blue {
      background: lighten($primary-color, 5%);

      .section-line {
        background: darken($primary-color, 0%);
      }
    }

    &.green {
      background: darken($secondary-color, 10%);

      .section-line {
        background: darken($secondary-color, 15%);
      }
    }

    .section-line {
      &.left {
        right: 0;
      }

      &.right {
        left: 0;
      }
    }
  }

  .section-content {
    position: relative;
    padding: $section-gutter 10px;
    z-index: 5;
  }

  .section-title {
    background: #fff;
    color: $dark-color;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 1.3em;
    height: 10px;

    @media #{$small-only} {
      font-size: 0.8em;
    }

    a {
      display: inline-block;
    }

    &:hover {
      .icon-flag {
        opacity: 0;
        transform: rotate(360deg);
      }

      .icon-link {
        opacity: 1;
        transform: rotate(-360deg);
      }
    }

    &:active {
      color: #fff;
      background: $dark-color;

      .text {
        background: $dark-color;
      }
    }

    .icon {
      position: relative;
      left: -40px;

      @media #{$small-only} {
        left: -20px;
      }
    }

    [class*="icon-"] {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 300ms, transform 300ms;
    }

    .icon-link {
      opacity: 0;
      font-weight: bold;
    }

    .text {
      display: inline-block;
      position: relative;
      text-shadow: none;
      top: 1px;
      background: #fff;
      padding: 0 20px 0 60px;

      @media #{$small-only} {
        padding: 0 20px 0 40px;
      }
    }
  }

  .section-summary {
    margin-top: $section-gutter / 2;
    margin-bottom: $section-gutter / 2;
    font-size: 2em;
    font-family: $font-family-sans-serif;
    color: inherit;
    transition: color $section-transition;

    .font-special {
      font-size: 1.4em;
    }
  }

  .section-cta {
    margin-top: $section-gutter / 2;
    margin-bottom: $section-gutter / 2;
  }

  .section-line {
    position: absolute;
    left: 0;
    right: 100%;
    background: #222;
    transition: right $section-transition * 1.5, left $section-transition * 1.5, background $section-transition;

    &.left {
      right: 100%;
    }

    &.right {
      left: 100%;
    }
  }
}

// Scroll down nag
.scroll-down {
  @extend .no-effect;
  position: absolute !important;
  display: block;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 30px;
  height: 40px;
  z-index: 50;
  text-shadow: none;

  &:hover {
    color: $secondary-color;
  }

  [class*="icon-"] {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    animation: scroll-bounce 7s infinite;
  }
}