/*
Staff list.

@since 0.1.0
*/
@import "../settings";

.gear-svgdefs {
    height: 0;
    width: 0;
}

.staff-list {
    
    .gear-clip {
        
        overflow: visible;
        transition: transform 300ms;
        
        .gear-overlay {
            fill: transparent;
            transition: fill 300ms ease-in-out;
            opacity: 0;
        }
        
    }
        
    .gear-link:hover {
        
        .gear-clip {
            transform: scale( 1.05 );
        }

        .gear-overlay {
            fill: rgba(18, 83, 143, 0.7);
            opacity: 1;
        }

    }
    
    .columns {
        text-align: center;
    }
    
    @media #{$small-only} {
    
        .gear-clip {
            
            margin-left: -0.5em;
            margin-bottom: 1em;
            
        }
        
        .row.gear-shift {
            .gear-clip {
                
                margin-left: -0.25em;
                
            }
        }
        
    }
    
    @media #{$medium-up} {
        
        .row.gear-shift {
            
            .medium-6 {
                
                text-align: right;
                padding-right: 2em;
                
                &:last-of-type {
                    padding-left: 2em;
                    text-align: left;
                }
                
            }
            
        }
        
    }
    
}