/*
Staff list.

@since 0.1.0
*/
@import "../settings";

.staff-list {
    
    margin-top: -150px; // Cover up SVG Defs, since we can't hide them and keep everything working in IE
    
    .gear-clip {
        
        overflow: visible;
        transition: transform 300ms;
        
        .title-overlay {
            fill: transparent;
            transition: fill 300ms ease-in-out;
            opacity: 0;
        }
        
        .title-overlay {
            
            transition: opacity 300ms ease-in-out;
            transition-delay: 100ms;
        
            .staff-name {
                font-size: $h4-font-size;
            }

            .staff-title {
                font-size: $h5-font-size;
            }
            
        }
        
    }
        
    .gear-link:hover {
        
        .gear-clip {
            transform: scale( 1.05 );
        }

        .title-overlay {
            fill: rgba(18, 83, 143, 0.7);
            opacity: 1;
        }
        
        .title-overlay {
            fill: rgba( 18, 83, 143, .7 );
        }

    }
    
    .columns {
        text-align: center;
    }
    
    @media #{$small-only} {
    
        .gear-clip {
            
            margin-left: -0.5em;
            margin-bottom: 1em;
            
        }
        
        .row.gear-shift {
            .gear-clip {
                
                margin-left: -0.25em;
                
            }
        }
        
    }
    
    @media #{$medium-up} {
        
        .row.gear-shift {
            
            .medium-6 {
                
                text-align: right;
                padding-right: 2em;
                
                &:last-of-type {
                    padding-left: 2em;
                    text-align: left;
                }
                
            }
            
        }
        
    }
    
}