/*
The static site footer.

@since 0.1.0
*/

@import "../settings";

#site-footer {
  background: $dark-color;
  color: #555;
  padding: 0;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    color: #777;
    margin: 0;
  }

  hr {
    border-top: 5px dotted #2a2a2a;
	  border-bottom: 0;
	  max-width: none;
    margin: 10px 0 ;
  }

  .columns {
    margin: $gutter 0;
    padding: 0 $gutter;

    @media #{$small-only} {
      margin: ($gutter / 2) 0;
    }
  }

  // Social area
  .footer-social {
    .footer-social-list {
      margin: ($gutter / 2) auto;
      max-width: 300px;
      text-align: center;
    }

    .footer-social-icon {
      font-size: 3em;
      line-height: 1;
    }
  }

  .footer-phone {
    margin: 0;

    .phone-number {
      font-size: 1.5em;
    }
  }

  // Search area
  .footer-search {

    .columns {
      margin: 0;
    }

    .search-field-label {
      @media #{$small-only} {
        margin-bottom: $gutter / 2;
      }
    }

    .button {
      border-color: #555;

      .button-text {
        color: #555;
      }
		
		text-shadow: none;

      &:hover {
        border-color: $secondary-color;
		  
		@if lightness( $secondary-color ) < 50% {
			text-shadow: 1px 1px 0 $dark-color;
		}
		@else {
			text-shadow: 1px 1px 0 $light-color;
		}

        .button-text {
          color: #fff;
        }
      }
    }

   .search-field{
     color: inherit;

      &:focus {
        color: #ddd;
      }
    }

    // Placeholder for search field
    ::-webkit-input-placeholder {
      color: inherit;
    }

    :-moz-placeholder {
      color: inherit;
    }

    ::-moz-placeholder {
      color: inherit;
    }

    :-ms-input-placeholder {
      color: inherit;
    }
  }

  // Menu area
  .footer-menu {
    .menu {
      list-style: none;
      margin: 0;
		text-align: center;
		display: block;

      .menu-item {
        display: inline-block;
        margin: 0 10px;

        a {
          @extend .force-color;
        }
      }
    }
  }

  // Copyright area
  .footer-copyright {
  }
}