/*
The static site footer.

@since 0.1.0
*/

@import "../settings";

#site-footer {
  background: $dark-color;
  color: #555;
  padding: 0;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    color: #777;
  }

  hr {
    border-top: 5px dotted #2a2a2a;
    margin: 10px 0 ;
  }

  .columns {
    margin: $gutter 0;
    padding: 0 $gutter;
  }

  .footer-social {
    .footer-social-list {
      margin: $gutter 0 0 0;
    }

    .footer-social-icon {
      font-size: 3em;
      line-height: 1;
      margin: 0 20px;
    }
  }

  .footer-phone {
    margin: $gutter 0 0 0;

    .phone-number {
      font-size: 1.5em;
    }
  }

  .footer-search {
    .button {
      border-color: #555;

      .button-text {
        color: #555;
      }

      &:hover {
        border-color: $secondary-color;

        .button-text {
          color: #fff;
        }
      }
    }

   .search-field{
     color: inherit;

      &:focus {
        color: #ddd;
      }
    }

    // Placeholder for search field
    ::-webkit-input-placeholder {
      color: inherit;
    }

    :-moz-placeholder {
      color: inherit;
    }

    ::-moz-placeholder {
      color: inherit;
    }

    :-ms-input-placeholder {
      color: inherit;
    }
  }

  .footer-menu {
    .menu {
      list-style: none;
      margin: 0;

      .menu-item {
        display: inline-block;
        margin: 0 10px;

        a {
          @extend .force-color;
        }
      }
    }
  }

  .footer-copyright {
  }
}