/*
The static site header.

@since 0.1.0
*/
@import "../settings";
@import "header-vars";

// Push content down
#wrapper {
  margin-top: $header-interval;
}

#site-header {
  position: fixed;
  top: $header-interval;
  left: 0;
  right: 0;
  //height: $header-height + $header-title-height;
  //line-height: $header-height;
  background: $header-background;
  z-index: 500;
  transform: translateY(-100%);
  transition: transform 500ms, top 500ms;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  // Title
  .site-title {
    line-height: 45px;
    height: $header-title-height;
    padding-top: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    z-index: 10;

    a {
      @extend .no-effect;
      color: inherit;
    }
  }

  // Logo
  .site-logo {
    width: $header-logo-size;
    height: $header-logo-size;
    padding: $header-logo-size / 10;
    border-radius: 50%;
    background: $header-background;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: $header-logo-size / 2 * -1;
    margin-bottom: $header-logo-size / 2 * -1;
    z-index: 10;

    &:hover {
      .svg-rbm-logo {
        .light-bulb, .light-bulb-blur {
          fill: lighten($primary-color, 20%);
          transition: fill 500ms, opacity 500ms, transform 500ms;
          opacity: 1;
        }
      }
    }

    .svg-rbm-logo {
      width: 100%;
      height: 100%;
      overflow: visible;

      .light-bulb {
        fill: $header-menu-item-color;
        transition: fill 4s, transform 500ms;
      }

      .light-bulb-blur {
        fill: lighten($primary-color, 20%);
        opacity: 0;
        transition: opacity 4s, transform 500ms;
      }

      .gear {
        fill: $header-menu-item-color;
        transition: fill 1s, transform 300ms;
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 55%;
      }
    }
  }
}

#header-tip {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 20em;
  max-width: 90%;
  background: $dark-color;
  color: #fff;
  padding: 1em 3em;
  margin-top: $header-interval + 50;
  text-align: center;
  box-shadow: 5px 5px 25px rgba(#222, 0.5);
  border-radius: 1000px;
  animation: header-tip-bob 1.5s infinite;
  transform: translateX(-50%);

  p {
    line-height: normal;
    margin-bottom: 0;
  }

  .icon-arrow-up {
    position: absolute;
    font-size: 3em;
    top: 0;
    left: 50%;
    color: $dark-color;
    text-shadow: 5px 5px 25px rgba(#222, 0.5);
    transform: translateX(-50%) translateY(-80%);
  }
}

// Reveal
#wrapper.reveal {

  #site-header {
    top: 0;
    transform: translateY(0);

    .site-logo {
      .svg-rbm-logo {
        .light-bulb {
          fill: lighten($primary-color, 10%);
          transition: fill 1s, transform 500ms;
        }

        .light-bulb-blur {
          opacity: 1;
          transition: fill 1s, transform 500ms;
        }

        .gear {
          fill: $secondary-color;
        }
      }
    }

    .site-nav-circular {
      transform: scale(1);
      display: block;
    }
  }

  #back-cover {
    visibility: visible;
    opacity: 0.5;
  }
}

// Cover for behind header
#back-cover {
  background: #000;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 499;
  transition: opacity 500ms, visibility 500ms;
}

// Admin bar compensation
body.admin-bar {
  #site-header {
    margin-top: 32px;
  }
}

// Mobile
@media #{$small-only} {

  // Don't push content down
  #wrapper {
    margin-top: 0;
  }

  #site-header {
    //top: (-$header-height * 2) - $header-title-height-mobile;
    //height: ($header-height * 3) + $header-title-height-mobile;

    // Title
    .site-title {
      font-size: 1.5em;
      line-height: 1;
      height: $header-title-height-mobile;
    }

    // Logo
    .site-logo {
      //width: $header-logo-size-mobile;
      //height: $header-logo-size-mobile;
      //padding: $header-logo-size-mobile / 10;
      //margin-left: $header-logo-size-mobile / 2 * -1;
    }
  }

  // Admin bar compensation
  body.admin-bar {
    #wrapper {
      #site-header {
        margin-top: 46px;
      }
    }
  }
}

// Animations
@keyframes light-bulb-flicker {
  0% {
    fill: lighten($header-background, 20%);
  }

  5% {
    fill: lighten($header-background, 20%);
  }
  7% {
    fill: $primary-color;
  }
  9% {
    fill: lighten($header-background, 20%);
  }

  15% {
    fill: lighten($header-background, 20%);
  }
  17% {
    fill: $primary-color;
  }
  19% {
    fill: lighten($header-background, 20%);
  }

  23% {
    fill: lighten($header-background, 20%);
  }
  25% {
    fill: $primary-color;
  }
  27% {
    fill: lighten($header-background, 20%);
  }

  45% {
    fill: lighten($header-background, 20%);
  }
  47% {
    fill: $primary-color;
  }
  49% {
    fill: lighten($header-background, 20%);
  }

  66% {
    fill: lighten($header-background, 20%);
  }
  68% {
    fill: $primary-color;
  }
  70% {
    fill: lighten($header-background, 20%);
  }

  74% {
    fill: lighten($header-background, 20%);
  }
  76% {
    fill: $primary-color;
  }
  78% {
    fill: lighten($header-background, 20%);
  }
}

@keyframes header-tip-bob {
  0% {
    top: 100%;
  }
  50% {
    top: 105%;
  }
}