/*
The static site header.

@since 0.1.0
*/
@import "../settings";
@import "header-vars";

// Push content down
#wrapper {
  margin-top: $header-height;
}

#site-header {
  position: fixed;
  top: -$title-height;
  left: 0;
  right: 0;
  height: $header-height + $title-height;
  line-height: $header-height;
  background: $background;
  z-index: 500;
  transition: top 500ms;

  // Title
  .site-title {
    line-height: 45px;
    height: $title-height;
    padding-top: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    z-index: 10;

    a {
      @extend .no-effect;
      color: inherit;
    }
  }

  // Logo
  .site-logo {
    width: $logo-size;
    height: $logo-size;
    padding: $logo-size / 10;
    border-radius: 50%;
    background: $background;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: $logo-size / 2 * -1;
    z-index: 10;

    &:hover {
      .svg-rbm-logo {
        .light-bulb, .light-bulb-blur {
          transform: scale(1.1, 1.1);
          fill: lighten($primary-color, 20%);
          transition: fill 500ms, opacity 500ms, transform 500ms;
          opacity: 1;
        }
      }
    }

    .svg-rbm-logo {
      width: 100%;
      height: 100%;
      overflow: visible;

      .light-bulb {
        fill: $menu-item-color;
        transition: fill 4s, transform 500ms;
        transform-origin: 50% 50%;
      }

      .light-bulb-blur {
        fill: lighten($primary-color, 20%);
        opacity: 0;
        transition: opacity 4s, transform 500ms;
        transform-origin: 50% 50%;
      }

      .gear {
        fill: $menu-item-color;
        transition: fill 1s, transform 500ms;
        transform-origin: 50% 55%;
      }
    }
  }

}

// Reveal
#wrapper.reveal {

  #site-header {
    top: 0;

    .site-logo {
      .svg-rbm-logo {
        .light-bulb {
          fill: lighten($primary-color, 10%);
          transition: fill 1s, transform 500ms;
        }

        .light-bulb-blur {
          opacity: 1;
          transition: fill 1s, transform 500ms;
        }

        .gear {
          fill: $secondary-color;
          transform: rotate(360deg);
        }
      }
    }

    .site-nav-circular {
      transform: scale(1);
      display: block;
    }
  }

  #back-cover {
    visibility: visible;
    opacity: 0.5;
  }
}

// Cover for behind header
#back-cover {
  background: #000;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 499;
  transition: opacity 500ms, visibility 500ms;
}

// Admin bar compensation
body.admin-bar {
  #wrapper {
    &.reveal {
      #site-header {
        top: 32px;
      }
    }
    #site-header {
      top: -$title-height + 32;
    }
  }
}

// Mobile
@media #{$small-only} {
  #site-header {

    // Logo
    .site-logo {
      width: $logo-size-mobile;
      height: $logo-size-mobile;
      padding: $logo-size-mobile / 10;
      margin-left: $logo-size-mobile / 2 * -1;
      margin-top: $logo-size-mobile / 4;
    }

    // Navigation Menus
    .site-nav-left, .site-nav-right {
      .menu-item {
        padding: 0 3px;
      }

      a {
        font-size: 0.7em;
      }
    }

    .site-nav-left {
      padding-left: 5px;
      text-align: left;
    }

    .site-nav-right {
      padding-right: 5px;
      text-align: right;
    }
  }
}

// Animations
@keyframes light-bulb-flicker {
  0% {
    fill: lighten($background, 20%);
  }

  5% {
    fill: lighten($background, 20%);
  }
  7% {
    fill: $primary-color;
  }
  9% {
    fill: lighten($background, 20%);
  }

  15% {
    fill: lighten($background, 20%);
  }
  17% {
    fill: $primary-color;
  }
  19% {
    fill: lighten($background, 20%);
  }

  23% {
    fill: lighten($background, 20%);
  }
  25% {
    fill: $primary-color;
  }
  27% {
    fill: lighten($background, 20%);
  }

  45% {
    fill: lighten($background, 20%);
  }
  47% {
    fill: $primary-color;
  }
  49% {
    fill: lighten($background, 20%);
  }

  66% {
    fill: lighten($background, 20%);
  }
  68% {
    fill: $primary-color;
  }
  70% {
    fill: lighten($background, 20%);
  }

  74% {
    fill: lighten($background, 20%);
  }
  76% {
    fill: $primary-color;
  }
  78% {
    fill: lighten($background, 20%);
  }
}